* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}
#app {
  display: flex;
  height: 100%;
  width: 100%;
}
.eBook__sider {
  display: block;
  width: 350px;
}
.eBook__wrapper {
  display: block;
  width: calc(100% - 350px);
}
.eBook__header {
  background-color: #DCEDFF;
  display: block;
  height: 105px;
  width: 100%;
}
.eBook__mainMenu {
  display: flex;
  flex-flow: row;
  list-style: none;
  position: relative;
  
}

.eBook__mainMenu li {
  margin: 0;
  padding: 0;
}

.eBook__mainMenu li a {
  border-radius: 0.375rem;
  border: 1px solid #999999;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 15px;
}

.eBook__mainMenu li a:hover {
  background-color: #CCCCCC;
}

.eBook__mainMenu li a.actived {
  background-color: #CCCCCC;
}

.eBook__mainMenu li a.actived:hover {
  background-color: #CCCCCC;
}

.eBook__subMenu>ul {
  display: flex;
  flex-flow: column;
  list-style: none;
}

.subMenu li {
  padding: 5px;
  width: 200px;
}

.eBook__subMenu li a {
  border: 1px solid #999999;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}

.eBook__subMenu li a:hover {
  background-color: #CCCCCC;
}

.eBook__subMenu li a.actived {
  background-color: #CCCCCC;
}

.eBook__subMenu li a.actived:hover {
  background-color: #CCCCCC;
}

.eBook__thirdMenu {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding-left: 10px;
  padding-right: 5px;
  display: none;
}

.eBook__thirdMenu.collapsed {
  display: block;
}

.eBook__thirdMenu li {
  padding: 5px;
  width: 100%;
}

.eBook__thirdMenu li a {
  border: 1px solid #999999;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}

.eBook__thirdMenu li a:hover {
  background-color: #CCCCCC;
}