* {
  font-family: Arial, Helvetica, sans-serif;
}

.mainMenu {
  display: flex;
  flex-flow: row;
  list-style: none;
}

.mainMenu li {
  margin: 0;
  padding: 0;
}

.mainMenu li a {
  border-radius: 0.375rem;
  border: 1px solid #999999;
  cursor: pointer;
  margin-right: 10px;
  padding: 10px 15px;
}

.mainMenu li a:hover {
  background-color: #CCCCCC;
}

.mainMenu li a.actived {
  background-color: #CCCCCC;
}

.mainMenu li a.actived:hover {
  background-color: #CCCCCC;
}

.subMenu>ul {
  display: flex;
  flex-flow: column;
  list-style: none;
}

.subMenu li {
  padding: 5px;
  width: 200px;
}

.subMenu li a {
  border: 1px solid #999999;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}

.subMenu li a:hover {
  background-color: #CCCCCC;
}

.subMenu li a.actived {
  background-color: #CCCCCC;
}

.subMenu li a.actived:hover {
  background-color: #CCCCCC;
}

.thirdMenu {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding-left: 10px;
  padding-right: 5px;
  display: none;
}

.thirdMenu.collapsed {
  display: block;
}

.thirdMenu li {
  padding: 5px;
  width: 100%;
}

.thirdMenu li a {
  border: 1px solid #999999;
  cursor: pointer;
  display: block;
  padding: 10px 15px;
}

.thirdMenu li a:hover {
  background-color: #CCCCCC;
}